
@{
    ViewData["Title"] = "Home";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="pagetile">
    <h1>Home</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Category</li>
        </ol>
    </nav>
</div>

